body {
    background-color: #E6EAEE;
    font-family: 'Calibri', sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
}

.panel {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
}

.header {
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field {
    width: 80%;
    padding: 12px;
    margin: 5px 0;
    border: 1px solid #0083FF;
    background-color: #E6EAEE;
    font-size: 10pt;
    color: black;
    border-radius: 10px;
    outline-offset: 1px;
}

    .input-field:focus {
        outline: 1px solid #0083FF; 
    }

.button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #0083FF;
    background-color: #0083FF;
    color: white;
    font-size: 12pt;
    font-weight: bold;
    border-radius: 10px;
    max-width: 346px;
    cursor: pointer;
}

    .button:hover {
        background-color: #005DFF;
        border-color: #005DFF;
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }

    .button:active {
        background-color: #003EFF;
        border-color: #003EFF;
        transform: scale(0.95);
        transition: transform 0.3s ease;
    }

    .button[disabled] {
        background-color: #C3C7CA;
        border-color: #C3C7CA;
        color: #7B7D80;
        cursor: not-allowed;
    }

.text-link-valter {
    font-family: 'Calibri', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    text-align: center;
}

    .text-link-valter a {
        color: #0083FF;
        text-decoration: none;
    }
.password-container {
    position: relative;
}

    .password-container .show-password {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
    }

        .password-container .show-password img {
            width: 30px;
            height: 30px;
        }