body {
    background-color: #003EFF;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Poor Richard', serif;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: relative;
}

.title {
    font-size: 70pt;
    margin-bottom: 50px;
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 50pt;
    }
}

.panel {
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    width: auto;
    max-width: 800px;
    margin: 0 auto;
}

.button {
    display: block;
    width: 275px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    font-size: 12pt;
    font-family: 'Calibri', sans-serif;
    text-decoration: none;
    font-weight: bold;
}

    .button:hover {
        background-color: #002ECC;
        color: white;
        border: 1px solid white;
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }

    .button:active {
        background-color: #001E9C;
        transform: scale(0.95);
        transition: transform 0.3s ease;
    }

.chat-button {
    background-color: #003EFF;
    color: white;
    border: 1px solid #003EFF;
}

.register-button {
    background-color: white;
    color: black;
    border: 1px solid black;
    font-weight: lighter;
}

.login-button {
    background-color: white;
    color: black;
    border: 1px solid black;
    font-weight: lighter;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #003EFF;
    color: white;
    font-family: 'Calibri', sans-serif;
    font-size: 10pt;
}

    .footer a {
        color: white;
        text-decoration: none;
        background-color: #003EFF;
        padding: 5px;
        border-radius: 5px;
        text-align: center;
        display: block;
    }

        .footer a:hover {
            text-decoration: underline;
        }
    
.settings-panel {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
    border: 2px solid white;
}

    .settings-panel h2 {
        font-family: 'Calibri', sans-serif;
        font-size: 16pt;
        font-weight: bold;
        color: black;
        margin-top: 0;
        text-align: left;
    }

    .settings-panel input[type="text"] {
        width: 278px;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ccc;
    }

    .settings-panel button {
        width: 100px;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid black;
        background-color: white;
        color: black;
        margin-top: 10px;
        cursor: pointer;
    }

        .settings-panel button:disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }

    .settings-panel.slide-down {
        animation: slideDown 0.5s ease-in-out forwards;
    }
    
@keyframes slideDown {
    0% {
        top: 0;
        opacity: 0;
    }

    100% {
        top: 50%;
        opacity: 1;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 990;
    display: none;
}

.color-panel {
    width: 300px;
    height: 10px;
    background-color: red;
    margin-bottom: 10px;
    text-align: center;
}

#outer {
    width: 100%;
    text-align: right;
}

.inner {
    display: inline-block;
}

.button-small {
    width: 100px;
}
